#main {
    @media only screen and (min-width: 800px) {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    padding: 30px;
    @media only screen and (max-width: 300px) {
        padding: 20px;
    }
    .title {
        text-align: center;
        margin-bottom: 20px;
        h1 {
            font-size: 30px;
            margin-bottom: 10px;
        }
        h2 {
            font-size: 20px;
            font-weight: 300;
            font-style: italic;
        }
        .banner {
            margin-top: 20px;
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
    .opening {
        font-weight: 300;
        margin-bottom: 60px;
    }
    .follow-action {
        padding: 20px;
        border: 1px dotted #000;
        margin-bottom: 60px;
        box-shadow: 0px 0px 2px 2px #dadada;
        .box {
            background-color: #52c9ac;
            color: #FFF;
            text-align: center;
            padding: 20px;
            line-height: 2;
            i {
                font-size: 18px;
                color: #FFD966;
            }
            a {
                font-size: 14px;
                text-decoration: none;
                padding: 6px;
                background-color: #1b74e4;
                color: #fff;
                margin-left: 8px;
                margin-right: 8px;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                transform: scale(1);
                animation: pulse-blue 2s infinite;
                border-radius: 2px;
                i {
                    color: #FFF;
                }
            }
            @keyframes pulse-blue {
                0% {
                    transform: scale(0.95);
                    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
                }
                70% {
                    transform: scale(1);
                    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
                }
                100% {
                    transform: scale(0.95);
                    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
                }
            }
        }
    }
    .main-content {
        margin-bottom: 20px;
        .part {
            margin-bottom: 60px;
            .illustration {
                margin-top: 20px;
                width: 100%;
                img {
                    width: 100%;
                }
                .photo-caption {
                    text-align: center;
                    p {
                        font-size: 15px;
                        line-height: 1.2;
                        font-style: italic;
                    }
                }
            }
            p {
                font-weight: 300;
            }
            .center-content {
                text-align: center;
                .register-form {
                    background-color: #E5E5E5;
                    width: 100%;
                    height: 500px;
                    position: relative;
                    margin: 20px 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .form-title {
                        h4 {
                            width: 55%;
                            font-size: 16px;
                            color: #224957;
                            margin-left: auto;
                            margin-right: auto;
                            margin-bottom: 10px;
                            text-transform: uppercase;
                        }
                        @media only screen and (max-width: 400px) {
                            h4 {
                                width: 90%;
                            }
                        }
                    }
                    form {
                        div {
                            text-align: center;
                            .info-input,
                            .btn-input {
                                padding: 10px;
                                width: 300px;
                                border-radius: 0;
                                border: 0;
                                margin: 5px;
                                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                            }
                            @media only screen and (max-width: 400px) {
                                .info-input,
                                .btn-input {
                                    width: 250px;
                                }
                            }
                            .info-input {
                                font-family: 'Lexend', sans-serif;
                                color: #fff;
                                background-color: #224957;
                            }
                            .info-input:focus {
                                outline: none;
                            }
                            .info-input::placeholder {
                                font-family: 'Lexend', sans-serif;
                                color: #fff;
                            }
                            .btn-input {
                                font-family: 'Lexend', sans-serif;
                                background-color: #20DF7F;
                                color: #fff;
                                margin-bottom: 20px;
                                text-align: center;
                                cursor: pointer;
                            }
                        }
                    }
                    .bottom-img {
                        width: 100%;
                        position: absolute;
                        bottom: -6px;
                        .vector-img {
                            width: 100%;
                        }
                    }
                    @media only screen and (max-width: 350px) {
                        padding: 20px;
                        form {
                            width: 100%;
                            div {
                                width: 100%;
                                .info-input,
                                .btn-input {
                                    margin: 5px 0;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
                .direct-btn {
                    margin: 40px 0;
                    a {
                        text-decoration: none;
                        padding: 10px 15px;
                        background-color: #20DF7F;
                        color: #FFF;
                        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                        transform: scale(1);
                        animation: pulse-green 2s infinite;
                    }
                    @keyframes pulse-green {
                        0% {
                            transform: scale(0.95);
                            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
                        }
                        70% {
                            transform: scale(1);
                            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
                        }
                        100% {
                            transform: scale(0.95);
                            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
                        }
                    }
                }
            }
            ul {
                --icon-space: 1.3em;
                list-style: none;
                padding: 0;
            }
            li {
                padding-left: var(--icon-space);
                font-weight: 300;
                line-height: 1.75;
            }
            li:before {
                font: var(--fa-font-regular);
                content: "\f043";
                display: inline-block;
                margin-left: calc( var(--icon-space) * -1);
                width: var(--icon-space);
                color: #52c9ac;
            }
            .slide-pic {
                position: relative;
                height: 450px;
                @media only screen and (max-width: 280px) {
                    height: 400px;
                }
                .swiper {
                    width: 100%;
                    height: 100%;
                    .swiper-slide {
                        width: 300px;
                        @media only screen and (max-width: 400px) {
                            width: 100%;
                        }
                        text-align: center;
                        font-size: 18px;
                        background: #fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img {
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
    .ending {
        margin-bottom: 20px;
        p {
            font-weight: 300;
        }
    }
    background-color: #FFF;
}